@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Roboto:wght@700&display=swap');


.App {
  text-align: center;
}

* {
  font-family: "Nunito", "Roboto",
    sans-serif;
}

.gradient-bg-results {
  background-image: linear-gradient(to bottom, #e4dee7, #eadde9, #e4e6f2, #e2e9f4, #edebe9);
  position: absolute;
  height: 80vh; /* set the height to 50% of the viewport height */
  top: 20vh; /* set the top position to 50% of the viewport height */
  left: 0;
  right: 0;
  z-index: -500;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
