.title {
    color:blue;
  }

.logo {
  width:100px;
  height:50px;
}


.quizImageTea {
  width:230px;
  height:230px;
  padding:20px;
}

.quizImageChocs {
  width:210px;
  padding:10px;
}

.quizImageSugar {
  width:600px;
  text-align:centre;
}

.quizColours {
  width:260px;
  height:200px;
  padding:10px;
}
  
.quizImageHome {
  width:260px;
  padding:10px;
}

.quizImageDog {
  width:263px;
  padding:10px;
}

.quizImageToys {
  width:255px;
  padding:10px;
}

.quizImageHoliday {
  width:300px;
}